BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Dout[0]" SITE "1" ;
LOCATE COMP "Dout[6]" SITE "2" ;
LOCATE COMP "Dout[7]" SITE "3" ;
LOCATE COMP "Dout[4]" SITE "4" ;
LOCATE COMP "Dout[5]" SITE "5" ;
LOCATE COMP "Dout[3]" SITE "6" ;
LOCATE COMP "Dout[1]" SITE "7" ;
LOCATE COMP "Dout[2]" SITE "8" ;
LOCATE COMP "Din[2]" SITE "14" ;
LOCATE COMP "Din[1]" SITE "15" ;
LOCATE COMP "Din[3]" SITE "16" ;
LOCATE COMP "Din[5]" SITE "17" ;
LOCATE COMP "Din[4]" SITE "18" ;
LOCATE COMP "Din[7]" SITE "19" ;
LOCATE COMP "Din[6]" SITE "20" ;
LOCATE COMP "Din[0]" SITE "21" ;
LOCATE COMP "LED" SITE "57" ;
LOCATE COMP "RA[0]" SITE "98" ;
LOCATE COMP "RA[1]" SITE "89" ;
LOCATE COMP "RA[2]" SITE "94" ;
LOCATE COMP "RA[3]" SITE "97" ;
LOCATE COMP "RA[4]" SITE "99" ;
LOCATE COMP "RA[5]" SITE "95" ;
LOCATE COMP "RA[6]" SITE "91" ;
LOCATE COMP "RA[7]" SITE "100" ;
LOCATE COMP "RA[8]" SITE "96" ;
LOCATE COMP "RA[9]" SITE "85" ;
LOCATE COMP "RA[10]" SITE "87" ;
LOCATE COMP "RA[11]" SITE "79" ;
LOCATE COMP "RBA[1]" SITE "83" ;
LOCATE COMP "RBA[0]" SITE "63" ;
LOCATE COMP "RCKE" SITE "82" ;
LOCATE COMP "RDQMH" SITE "76" ;
LOCATE COMP "RDQML" SITE "61" ;
LOCATE COMP "UFMCLK" SITE "58" ;
LOCATE COMP "UFMSDI" SITE "56" ;
LOCATE COMP "nUFMCS" SITE "53" ;
LOCATE COMP "nRCAS" SITE "78" ;
LOCATE COMP "nRCS" SITE "77" ;
LOCATE COMP "nRRAS" SITE "73" ;
LOCATE COMP "nRWE" SITE "72" ;
LOCATE COMP "RD[0]" SITE "64" ;
LOCATE COMP "RD[1]" SITE "65" ;
LOCATE COMP "RD[2]" SITE "66" ;
LOCATE COMP "RD[3]" SITE "67" ;
LOCATE COMP "RD[4]" SITE "68" ;
LOCATE COMP "RD[5]" SITE "69" ;
LOCATE COMP "RD[6]" SITE "70" ;
LOCATE COMP "RD[7]" SITE "71" ;
LOCATE COMP "PHI2" SITE "39" ;
LOCATE COMP "RCLK" SITE "86" ;
LOCATE COMP "nCCAS" SITE "27" ;
LOCATE COMP "nCRAS" SITE "43" ;
LOCATE COMP "CROW[0]" SITE "32" ;
LOCATE COMP "CROW[1]" SITE "34" ;
LOCATE COMP "UFMSDO" SITE "55" ;
LOCATE COMP "nFWE" SITE "22" ;
LOCATE COMP "MAin[0]" SITE "23" ;
LOCATE COMP "MAin[1]" SITE "38" ;
LOCATE COMP "MAin[2]" SITE "37" ;
LOCATE COMP "MAin[3]" SITE "47" ;
LOCATE COMP "MAin[4]" SITE "46" ;
LOCATE COMP "MAin[5]" SITE "45" ;
LOCATE COMP "MAin[6]" SITE "49" ;
LOCATE COMP "MAin[7]" SITE "44" ;
LOCATE COMP "MAin[8]" SITE "50" ;
LOCATE COMP "MAin[9]" SITE "51" ;
IOBUF PORT "CROW[0]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "CROW[1]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "nCRAS" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "nCCAS" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "RCLK" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "PHI2" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "Din[0]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "Din[1]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "Din[2]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "Din[3]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "Din[4]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "Din[5]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "Din[6]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "Din[7]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "MAin[0]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "MAin[1]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "MAin[2]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "MAin[3]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "MAin[4]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "MAin[5]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "MAin[6]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "MAin[7]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "MAin[8]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "MAin[9]" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "UFMSDO" PULLMODE=KEEPER IO_TYPE=LVTTL33 ;
IOBUF PORT "nFWE" PULLMODE=NONE IO_TYPE=LVTTL33 ;
IOBUF PORT "Dout[0]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "Dout[1]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "Dout[2]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "Dout[3]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "Dout[4]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "Dout[5]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "Dout[6]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "Dout[7]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "LED" PULLMODE=NONE IO_TYPE=LVTTL33 DRIVE=16 SLEWRATE=SLOW ;
IOBUF PORT "RA[0]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "RA[1]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "RA[2]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "RA[3]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "RA[4]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "RA[5]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "RA[6]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "RA[7]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "RA[8]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "RA[9]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "RA[10]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "RA[11]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "RBA[0]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "RBA[1]" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "RCKE" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "RDQMH" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "RDQML" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "UFMCLK" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "UFMSDI" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "nRCAS" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "nRCS" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "nRRAS" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "nRWE" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "nUFMCS" PULLMODE=NONE IO_TYPE=LVTTL33 SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "RD[0]" PULLMODE=KEEPER IO_TYPE=LVTTL33 DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RD[1]" PULLMODE=KEEPER IO_TYPE=LVTTL33 DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RD[2]" PULLMODE=KEEPER IO_TYPE=LVTTL33 DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RD[3]" PULLMODE=KEEPER IO_TYPE=LVTTL33 DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RD[4]" PULLMODE=KEEPER IO_TYPE=LVTTL33 DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RD[5]" PULLMODE=KEEPER IO_TYPE=LVTTL33 DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RD[6]" PULLMODE=KEEPER IO_TYPE=LVTTL33 DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RD[7]" PULLMODE=KEEPER IO_TYPE=LVTTL33 DRIVE=4 SLEWRATE=SLOW ;
OUTPUT PORT "RD[7]" LOAD 20.000000 pF ;
OUTPUT PORT "RD[0]" LOAD 20.000000 pF ;
OUTPUT PORT "RD[1]" LOAD 20.000000 pF ;
OUTPUT PORT "RD[2]" LOAD 20.000000 pF ;
OUTPUT PORT "RD[3]" LOAD 20.000000 pF ;
OUTPUT PORT "RD[4]" LOAD 20.000000 pF ;
OUTPUT PORT "RD[5]" LOAD 20.000000 pF ;
OUTPUT PORT "RD[6]" LOAD 20.000000 pF ;
OUTPUT PORT "nUFMCS" LOAD 15.000000 pF ;
OUTPUT PORT "UFMCLK" LOAD 15.000000 pF ;
OUTPUT PORT "UFMSDI" LOAD 15.000000 pF ;
OUTPUT PORT "nRWE" LOAD 10.000000 pF ;
OUTPUT PORT "nRCAS" LOAD 10.000000 pF ;
OUTPUT PORT "nRCS" LOAD 10.000000 pF ;
OUTPUT PORT "nRRAS" LOAD 10.000000 pF ;
OUTPUT PORT "RDQML" LOAD 10.000000 pF ;
OUTPUT PORT "RDQMH" LOAD 10.000000 pF ;
OUTPUT PORT "RCKE" LOAD 10.000000 pF ;
OUTPUT PORT "RBA[1]" LOAD 10.000000 pF ;
OUTPUT PORT "RBA[0]" LOAD 10.000000 pF ;
OUTPUT PORT "RA[11]" LOAD 10.000000 pF ;
OUTPUT PORT "RA[10]" LOAD 10.000000 pF ;
OUTPUT PORT "RA[9]" LOAD 10.000000 pF ;
OUTPUT PORT "RA[8]" LOAD 10.000000 pF ;
OUTPUT PORT "RA[7]" LOAD 10.000000 pF ;
OUTPUT PORT "RA[6]" LOAD 10.000000 pF ;
OUTPUT PORT "RA[5]" LOAD 10.000000 pF ;
OUTPUT PORT "RA[4]" LOAD 10.000000 pF ;
OUTPUT PORT "RA[3]" LOAD 10.000000 pF ;
OUTPUT PORT "RA[2]" LOAD 10.000000 pF ;
OUTPUT PORT "RA[1]" LOAD 10.000000 pF ;
OUTPUT PORT "RA[0]" LOAD 10.000000 pF ;
OUTPUT PORT "LED" LOAD 25.000000 pF ;
OUTPUT PORT "Dout[0]" LOAD 20.000000 pF ;
OUTPUT PORT "Dout[1]" LOAD 20.000000 pF ;
OUTPUT PORT "Dout[2]" LOAD 20.000000 pF ;
OUTPUT PORT "Dout[4]" LOAD 20.000000 pF ;
OUTPUT PORT "Dout[3]" LOAD 20.000000 pF ;
OUTPUT PORT "Dout[5]" LOAD 20.000000 pF ;
OUTPUT PORT "Dout[6]" LOAD 20.000000 pF ;
OUTPUT PORT "Dout[7]" LOAD 20.000000 pF ;
USE PRIMARY NET "PHI2_c" ;
USE PRIMARY NET "RCLK_c" ;
VOLTAGE 3.300 V;
VCCIO_DERATE BANK 0 PERCENT -5; 
VCCIO_DERATE PERCENT -5; 
VCCIO_DERATE BANK 1 PERCENT -5; 
PERIOD NET "PHI2_c" 350.000000 ns  ;
PERIOD NET "nCCAS_c" 350.000000 ns  ;
PERIOD NET "nCRAS_c" 350.000000 ns  ;
PERIOD NET "RCLK_c" 16.000000 ns  ;
CLOCK_TO_OUT PORT "RD[0]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "Dout[0]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "Dout[7]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "Dout[6]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "Dout[5]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "Dout[4]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "Dout[3]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "Dout[2]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "Dout[1]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RBA[1]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RBA[0]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RA[11]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RA[10]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RA[9]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RA[8]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RA[7]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RA[6]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RA[5]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RA[4]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RA[3]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RA[2]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RA[1]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RA[0]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "nRCS" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RCKE" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "nRWE" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "nRRAS" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "nRCAS" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RDQMH" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RDQML" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RD[7]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RD[6]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RD[5]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RD[4]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RD[3]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RD[2]" 12.500000 ns CLKPORT "RCLK" ;
CLOCK_TO_OUT PORT "RD[1]" 12.500000 ns CLKPORT "RCLK" ;
USE PRIMARY NET "nCCAS_c" ;
USE PRIMARY NET "nCRAS_c" ;
