BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "CROW[0]" SITE "10" ;
LOCATE COMP "CROW[1]" SITE "16" ;
LOCATE COMP "PHI2" SITE "8" ;
LOCATE COMP "nCCAS" SITE "9" ;
LOCATE COMP "nCRAS" SITE "17" ;
LOCATE COMP "Din[0]" SITE "3" ;
LOCATE COMP "Din[6]" SITE "2" ;
LOCATE COMP "Din[7]" SITE "1" ;
LOCATE COMP "Din[4]" SITE "99" ;
LOCATE COMP "Din[5]" SITE "98" ;
LOCATE COMP "Din[3]" SITE "97" ;
LOCATE COMP "Din[1]" SITE "96" ;
LOCATE COMP "Din[2]" SITE "88" ;
LOCATE COMP "MAin[0]" SITE "14" ;
LOCATE COMP "MAin[1]" SITE "12" ;
LOCATE COMP "MAin[2]" SITE "13" ;
LOCATE COMP "MAin[3]" SITE "21" ;
LOCATE COMP "MAin[4]" SITE "20" ;
LOCATE COMP "MAin[5]" SITE "19" ;
LOCATE COMP "MAin[6]" SITE "24" ;
LOCATE COMP "MAin[7]" SITE "18" ;
LOCATE COMP "MAin[8]" SITE "25" ;
LOCATE COMP "MAin[9]" SITE "32" ;
LOCATE COMP "nFWE" SITE "15" ;
LOCATE COMP "Dout[0]" SITE "76" ;
LOCATE COMP "Dout[1]" SITE "86" ;
LOCATE COMP "Dout[2]" SITE "87" ;
LOCATE COMP "Dout[3]" SITE "85" ;
LOCATE COMP "Dout[4]" SITE "83" ;
LOCATE COMP "Dout[5]" SITE "84" ;
LOCATE COMP "Dout[6]" SITE "78" ;
LOCATE COMP "Dout[7]" SITE "82" ;
LOCATE COMP "LED" SITE "34" ;
LOCATE COMP "RA[0]" SITE "66" ;
LOCATE COMP "RA[1]" SITE "67" ;
LOCATE COMP "RA[2]" SITE "69" ;
LOCATE COMP "RA[3]" SITE "71" ;
LOCATE COMP "RA[4]" SITE "74" ;
LOCATE COMP "RA[5]" SITE "70" ;
LOCATE COMP "RA[6]" SITE "68" ;
LOCATE COMP "RA[7]" SITE "75" ;
LOCATE COMP "RA[8]" SITE "65" ;
LOCATE COMP "RA[9]" SITE "62" ;
LOCATE COMP "RA[10]" SITE "64" ;
LOCATE COMP "RA[11]" SITE "59" ;
LOCATE COMP "RBA[0]" SITE "58" ;
LOCATE COMP "RBA[1]" SITE "47" ;
LOCATE COMP "RCKE" SITE "53" ;
LOCATE COMP "RDQMH" SITE "51" ;
LOCATE COMP "RDQML" SITE "48" ;
LOCATE COMP "nRCAS" SITE "52" ;
LOCATE COMP "nRCS" SITE "57" ;
LOCATE COMP "nRRAS" SITE "54" ;
LOCATE COMP "nRWE" SITE "49" ;
LOCATE COMP "RD[0]" SITE "36" ;
LOCATE COMP "RD[1]" SITE "37" ;
LOCATE COMP "RD[2]" SITE "38" ;
LOCATE COMP "RD[3]" SITE "39" ;
LOCATE COMP "RD[4]" SITE "40" ;
LOCATE COMP "RD[5]" SITE "41" ;
LOCATE COMP "RD[6]" SITE "42" ;
LOCATE COMP "RD[7]" SITE "43" ;
IOBUF PORT "CROW[0]" IO_TYPE=LVCMOS33 DRIVE=NA PULLMODE=NONE ;
IOBUF PORT "CROW[1]" IO_TYPE=LVCMOS33 SLEWRATE=NA DRIVE=NA PULLMODE=NONE ;
IOBUF PORT "PHI2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "RCLK" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "nCCAS" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "nCRAS" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Din[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Din[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Din[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Din[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Din[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Din[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Din[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Din[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "MAin[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "MAin[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "MAin[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "MAin[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "MAin[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "MAin[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "MAin[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "MAin[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "MAin[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "MAin[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "nFWE" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Dout[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 DIFFRESISTOR=OFF SLEWRATE=FAST ;
IOBUF PORT "Dout[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 DIFFRESISTOR=OFF SLEWRATE=FAST ;
IOBUF PORT "Dout[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST ;
IOBUF PORT "Dout[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST ;
IOBUF PORT "Dout[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST ;
IOBUF PORT "Dout[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST ;
IOBUF PORT "Dout[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST ;
IOBUF PORT "Dout[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST ;
IOBUF PORT "LED" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=24 SLEWRATE=SLOW ;
IOBUF PORT "RA[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 DIFFRESISTOR=OFF SLEWRATE=SLOW ;
IOBUF PORT "RA[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RA[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RA[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RA[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RA[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RA[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RA[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RA[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RA[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RA[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RA[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RBA[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RBA[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RCKE" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RDQMH" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RDQML" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "nRCAS" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "nRCS" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "nRRAS" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "nRWE" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RD[0]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RD[1]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RD[2]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RD[3]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RD[4]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RD[5]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RD[6]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RD[7]" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 SLEWRATE=SLOW ;
OUTPUT PORT "Dout[0]" LOAD 15.000000 pF ;
OUTPUT PORT "Dout[1]" LOAD 15.000000 pF ;
OUTPUT PORT "Dout[2]" LOAD 15.000000 pF ;
OUTPUT PORT "Dout[3]" LOAD 15.000000 pF ;
OUTPUT PORT "Dout[4]" LOAD 15.000000 pF ;
OUTPUT PORT "Dout[5]" LOAD 15.000000 pF ;
OUTPUT PORT "Dout[6]" LOAD 15.000000 pF ;
OUTPUT PORT "Dout[7]" LOAD 15.000000 pF ;
OUTPUT PORT "LED" LOAD 10.000000 pF ;
OUTPUT PORT "RA[0]" LOAD 5.000000 pF ;
OUTPUT PORT "RA[1]" LOAD 5.000000 pF ;
OUTPUT PORT "RA[2]" LOAD 5.000000 pF ;
OUTPUT PORT "RA[3]" LOAD 5.000000 pF ;
OUTPUT PORT "RA[4]" LOAD 5.000000 pF ;
OUTPUT PORT "RA[5]" LOAD 5.000000 pF ;
OUTPUT PORT "RA[6]" LOAD 5.000000 pF ;
OUTPUT PORT "RA[7]" LOAD 5.000000 pF ;
OUTPUT PORT "RA[8]" LOAD 5.000000 pF ;
OUTPUT PORT "RA[9]" LOAD 5.000000 pF ;
OUTPUT PORT "RA[10]" LOAD 5.000000 pF ;
OUTPUT PORT "RA[11]" LOAD 5.000000 pF ;
OUTPUT PORT "RBA[0]" LOAD 5.000000 pF ;
OUTPUT PORT "RBA[1]" LOAD 5.000000 pF ;
OUTPUT PORT "RCKE" LOAD 5.000000 pF ;
OUTPUT PORT "RDQMH" LOAD 5.000000 pF ;
OUTPUT PORT "RDQML" LOAD 5.000000 pF ;
OUTPUT PORT "nRCAS" LOAD 5.000000 pF ;
OUTPUT PORT "nRCS" LOAD 5.000000 pF ;
OUTPUT PORT "nRRAS" LOAD 5.000000 pF ;
OUTPUT PORT "nRWE" LOAD 5.000000 pF ;
OUTPUT PORT "RD[0]" LOAD 9.000000 pF ;
OUTPUT PORT "RD[1]" LOAD 9.000000 pF ;
OUTPUT PORT "RD[2]" LOAD 9.000000 pF ;
OUTPUT PORT "RD[3]" LOAD 9.000000 pF ;
OUTPUT PORT "RD[4]" LOAD 9.000000 pF ;
OUTPUT PORT "RD[5]" LOAD 9.000000 pF ;
OUTPUT PORT "RD[6]" LOAD 9.000000 pF ;
OUTPUT PORT "RD[7]" LOAD 9.000000 pF ;
LOCATE COMP "RCLK" SITE "63" ;
LOCATE COMP "RCLKout" SITE "60" ;
IOBUF PORT "RCLKout" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=24 ;
OUTPUT PORT "RCLKout" LOAD 5.000000 pF ;
